Package: com.shotnine.assistantplusassistant
Name: Assistant+ Assistant
Version: 1.2
Architecture: iphoneos-arm
Author: Roy Hatter <royhatter@gmail.com>
Maintainer: Roy Hatter <royhatter@gmail.com>
Description: Link Assistant+ to Activator (iOS 9 to 11)
Depends: org.thebigboss.assistantplus
Section: Scripting
Depiction: https://shotnine.github.io/depictions/index.html?p=com.shotnine.assistantplus
